* { padding: 0; margin: 0; }

body, html {
    height: 100%;
}

.sidebar {
    width: 25%;
    height: 100%;
    background: rgba(135, 206, 235, 0.65);
}
.display_body {
    width: 75%;
    height: 100%;
}
.nav {
    height: 10%;
    width: 100%;
    background: rgba(135, 206, 235, 0.65);
}

.card_Body {
    height: 90%;
    width: 100%;
}

.card {
    background: rgba(135, 206, 235, 0.65);
    width: 30%;
    height: 30%;
}
.card_img {
    height: 80%;
    width: 80%;
}
.card_blurb {
    height: 20%;
    width: 100%;
}